@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as type;

.article-preview {
  padding: $spacing-06 0;
  border-bottom: 1px solid var(--cds-border-subtle);
}

.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-05;
}

.author-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: $spacing-03;
}

.author-details {
  display: flex;
  flex-direction: column;
}

.author-name {
  @include type.type-style('body-compact-01');

  color: var(--cds-link-primary);
}

.article-date {
  @include type.type-style('label-01');

  color: var(--cds-text-placeholder);
}

.article-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.article-title {
  @include type.type-style('heading-03');

  color: var(--cds-text-primary);
  margin-bottom: $spacing-03;
  overflow-wrap: break-word;
}

.article-description {
  @include type.type-style('body-compact-02');

  color: var(--cds-text-secondary);
  margin-bottom: $spacing-05;
  overflow-wrap: break-word;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more {
  @include type.type-style('label-01');

  color: var(--cds-text-placeholder);
}

.article-tags {
  display: flex;
  gap: $spacing-02;
  flex-wrap: wrap;
}
