.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cds-spacing-03, 0.5rem);
}

.tag-pill {
  cursor: pointer;
  background-color: var(--cds-text-secondary);
  color: white;
  border: none;
  border-radius: 10rem;
  padding: var(--cds-spacing-02, 0.25rem) var(--cds-spacing-03, 0.6rem);
  font-size: 0.8rem;
}

.tag-pill:hover {
  background-color: var(--cds-text-secondary-hover);
}

.tag-list-loading,
.tag-list-empty {
  padding: var(--cds-spacing-05, 1rem);
  text-align: center;
  color: var(--cds-text-secondary);
}
