@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as type;

.article-page .banner {
  background: var(--cds-background-inverse);
  color: var(--cds-text-on-color);
}

.article-page .banner h1 {
  @include type.type-style('heading-05');

  margin-bottom: $spacing-06;
  overflow-wrap: break-word;
}

.article-content {
  padding: $spacing-07 0;
}

.article-body {
  @include type.type-style('body-02');

  margin-bottom: $spacing-06;
  overflow-wrap: break-word;
}

.article-body p {
  margin-bottom: $spacing-05;
  overflow-wrap: break-word;
}

.article-page .tag-list {
  margin-bottom: $spacing-06;
}
