.auth-page {
  min-height: calc(100vh - 56px);
  padding: 1.5rem 0;
}

.container.page {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.offset-md-3 {
  margin-left: 25%;
}

.col-xs-12 {
  width: 100%;
}

.text-xs-center {
  text-align: center;
}

.pull-xs-right {
  float: right;
}

h1 {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .offset-md-3 {
    margin-left: 0;
  }
}
