@use '@carbon/react/scss/spacing' as *;

.editor-page {
  min-height: 100vh;
  padding: $spacing-06 0;
}

.editor-page .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-03;
  margin-top: $spacing-03;
}
