@use '@carbon/react/scss/spacing' as *;

.forbidden-page {
  text-align: center;
  padding: $spacing-07;
}

.forbidden-page h1 {
  margin-bottom: $spacing-05;
}

.forbidden-page p {
  margin-bottom: $spacing-05;
}
