@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as type;

.sidebar {
  padding: $spacing-03 $spacing-05;
  background-color: var(--cds-layer-01);
}

.sidebar-title {
  @include type.type-style('heading-compact-01');

  margin-bottom: $spacing-03;
}
