@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as type;

.profile-page.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.user-info {
  background: var(--cds-layer-01);
  text-align: center;
}

.user-img {
  margin-bottom: $spacing-05;
}

.user-info h4 {
  @include type.type-style('heading-03');

  margin-bottom: $spacing-03;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-info p {
  color: var(--cds-text-secondary);
  margin-bottom: $spacing-05;
  overflow-wrap: break-word;
}
