@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as type;

.profile-page {
  min-height: 100vh;

  .cds--breadcrumb {
    margin-bottom: $spacing-05;
  }
}

.profile-page.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.user-info {
  background: var(--cds-layer-01);
  padding: $spacing-07 0;
  text-align: center;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: $spacing-05;
}

.user-info h4 {
  @include type.type-style('heading-03');

  margin-bottom: $spacing-03;
  overflow-wrap: break-word;
}

.user-info p {
  color: var(--cds-text-secondary);
  margin-bottom: $spacing-05;
  overflow-wrap: break-word;
}
