.profile-page {
  min-height: 100vh;
}

.profile-page.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.user-info {
  background: #f3f3f3;
  padding: 2rem 0;
  text-align: center;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user-info h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.user-info p {
  color: #999;
  margin-bottom: 1rem;
}

.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.offset-md-1 {
  margin-left: 8.333333%;
}

@media (max-width: 768px) {
  .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .offset-md-1 {
    margin-left: 0;
  }
}
