@use '@carbon/react/scss/spacing' as *;

.settings-page {
  min-height: 100vh;
  padding: $spacing-06 0;
}

.settings-page hr {
  margin: $spacing-07 0;
  border: 0;
  border-top: 1px solid var(--cds-border-subtle);
}
